{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="twelve columns">
<section>
    <h2>Our Story</h2>
    <p>Coffee Bean Networks was founded with a passion for coffee and a vision to share that passion with the world. Our team of coffee enthusiasts is dedicated to providing valuable information, resources, and services to coffee lovers everywhere.</p>
</section>
</div>
</div>
<div class="row">
    <div class="twelve columns">
<section>
    <h2>Our Mission</h2>
    <p>Our mission is to be the ultimate destination for everything related to coffee. From educational content to product recommendations, we strive to empower coffee enthusiasts to enhance their coffee experience.</p>
</section>
</div>
</div>
{% endblock %}
