{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<div class="row">
  <div class="twelve columns">
    <section>
      <h2>Welcome to Coffee Bean Networks</h2>
      <p>
        Coffee Bean Networks is your go-to destination for all things related to
        coffee. Whether you're a coffee enthusiast, a coffee shop owner, or just
        someone who enjoys a good cup of joe, we've got you covered.
      </p>
      <p>
        Explore our blog to learn about different coffee varieties, brewing
        techniques, recipes, and more. Connect with us to share your love for
        coffee or inquire about our services.
      </p>
      <p>Join us in celebrating the wonderful world of coffee!</p>
    </section>
  </div>
</div>
{% endblock %}
